.blurbs .inner {
    border: double #FF6BBF 4px;
    padding-left: 10px;
    padding-top: 10px;
    background: (0,0,0,30%);
}
h1 {
	color : #cfc9f8;
    text-align: center;
    font-family:Impact;
}

h2, h3 {
    color : #cfc9f8;
    text-align: center;
}
img {
  width: auto;
  height: 200px; /* garde les proportions */
}
body {
    background: url(https://i.pinimg.com/originals/32/e8/7a/32e87a9a9714a4f49fb6bcd1b81859aa.gif);
}
main {
    background: none;
}
div
{display:flex;
justify-content:space-between;
}

