}
img {
  width: auto;
  height: 200px; /* garde les proportions */
}
body {
    background: url(https://i.pinimg.com/originals/32/e8/7a/32e87a9a9714a4f49fb6bcd1b81859aa.gif);
}
main {
    background: none;
}
div
{display:flex;
justify-content:space-between;
}

